<header>
  {{partial "components/logo"}}

  <h2 id="title">Service status updates</h2>
</header>
<section class="status-board">
  <div class="content">
    {{partial "components/clock"}}
    {{partial "components/timeline"}}
  </div>

  <div class="side-content">
    {{partial "components/system-status"}}
    {{partial "components/last-deployment"}}
    {{partial "components/stats"}}
    {{partial "components/latest-tweet"}}
  </div>
</section>
